@model BLL.DTOs.RegisterDTO

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form method="post">
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
    <span class="text-danger">@Html.ValidationMessage("Name")</span>

    <br />

    <input type="text" name="UserName" value="@Model.UserName" placeholder="Username" class="form-control" />
    <span class="text-danger">@Html.ValidationMessage("UserName")</span>

    <br />

    <input type="text" name="Email" value="@Model.Email" placeholder="Email" class="form-control" />
    <span class="text-danger">@Html.ValidationMessage("Email")</span>

    <br />

    <input type="text" name="ContactNumber" value="@Model.ContactNumber" placeholder="Contact Number" class="form-control" />

    <br />
    <br />

    <input type="password" name="Password" placeholder="Password" class="form-control" />
    <span class="text-danger">@Html.ValidationMessage("Password")</span>

    <br />

    <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <br />

    <input type="submit" class="btn btn-primary" value="Register" />
</form>